@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

:root {
  --primary-color: #febd69;
  --secondary-color: #f08804;
  --primary-dark: #131a22;
  --secondary-dark: #232f3e;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: 700;
  font-size: 1.9rem;
}

h2,
h3 {
  font-weight: 500;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h4,
h5,
h6 {
  font-weight: 400;
}

a {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

input,
textarea,
select,
button {
  display: block;
  outline: none;
  border: none;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: var(--secondary-dark);
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--primary-color);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  width: 85%;
  margin: auto;
  position: relative;
}

.section,
.card {
  padding: 10px;
  border-bottom: 1.5px solid #ddd;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group > * {
  border-radius: 0;
}

.form-group > *:first-child {
  border-radius: 5px 0 0 5px !important;
}

.form-group > *:last-child {
  border-radius: 0 5px 5px 0 !important;
}

.btn {
  padding: 7px 12px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  transition: all 100ms linear;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.link {
  display: block;
  padding: 4px;
  margin: 2px;
  cursor: pointer;
  color: #007185;
  font-size: 0.9rem;
}

.link:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.my-1 {
  margin: 2rem 0;
}

.my-2 {
  margin: 1.7rem 0;
}

.my-3 {
  margin: 1.4rem 0;
}

.my-4 {
  margin: 1.1rem 0;
}

.my-5 {
  margin: 0.8rem 0;
}

.my-6 {
  margin: 0.5rem 0;
}

.m-1 {
  margin: 2rem;
}

.m-2 {
  margin: 1.7rem;
}

.m-3 {
  margin: 1.4rem;
}

.m-4 {
  margin: 1.1rem;
}

.m-5 {
  margin: 0.8rem;
}

.m-6 {
  margin: 0.5rem;
}

.py-1 {
  padding: 2rem 0;
}

.py-2 {
  padding: 1.7rem 0;
}

.py-3 {
  padding: 1.4rem 0;
}

.py-4 {
  padding: 1.1rem 0;
}

.py-5 {
  padding: 0.8rem 0;
}

.py-6 {
  padding: 0.5rem 0;
}

.p-1 {
  padding: 2rem;
}

.p-2 {
  padding: 1.7rem;
}

.p-3 {
  padding: 1.4rem;
}

.p-4 {
  padding: 1.1rem;
}

.p-5 {
  padding: 0.8rem;
}

.p-6 {
  padding: 0.5rem;
}
