.container {
  width: 100%;
  overflow: hidden;
  height: 800px;
  position: relative;
}

.container .slider .slide {
  position: absolute;
  width: 100%;
  transition: transform 1000ms linear;
}

.slider .pre {
  transform: translateX(-100%);
}
.slider .nxt {
  transform: translateX(100%);
}
.slider .active {
  transform: translateX(0);
}
